# Ignore virtual environment
venv/
__pycache__/

# Ignore datasets and preprocessed data
ecgen-radiology/
IU-DATASET/
PREPROCESSED-IU-DATASET/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log
